name: Build and Release

on:
  push:
    branches: [ main ]

jobs:
  build-and-release:
    runs-on: macos-15
    permissions:
      contents: write
    
    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        submodules: recursive

    - name: Build and Release
      run: ./scripts/release.sh
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
